<div class="panel panel-default">
    <div class="panel-heading"><h4 class="app-panel-headers">Panel heading without title</h4></div>
    <div class="panel-body">
        Panel content
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading"><h4>Panel heading without title</h4></div>
    <div class="panel-body">
        Panel content
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading"><h4>Panel heading without title</h4></div>
    <div class="panel-body">
        Panel content
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading"><h4>Panel heading without title</h4></div>
    <div class="panel-body">
        Panel content
    </div>
</div>